Repository sbb-design-systems/lyne-components, pull requests merged in 2024-07, with the labels that each got.

#2853 build: inline koa-connect
  package.json
  tools/web-test-runner/vite-plugin.ts
  yarn.lock
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2851 test(sbb-train-formation): migrate visual regression tests
  src/elements/train/train-blocked-passage/train-blocked-passage.visual.spec.ts
  src/elements/train/train-formation/train-formation.visual.spec.ts
  src/elements/train/train-wagon/train-wagon.snapshot.spec.ts
  src/elements/train/train-wagon/train-wagon.visual.spec.ts
  src/elements/train/train/train.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2860 build: prevent loading cached visual regression images
  .github/workflows/continuous-integration-secure.yml
  src/visual-regression-app/src/components/overview/overview.scss
  src/visual-regression-app/src/components/overview/overview.ts
  src/visual-regression-app/src/components/test-case/image-diff/fullscreen-diff/fullscreen-diff.ts
  src/visual-regression-app/src/components/test-case/image-diff/image-diff.ts
  src/visual-regression-app/src/interfaces.ts
  src/visual-regression-app/vite.config.ts
  src/vite-env.d.ts
  tools/visual-regression-testing/prepare-failed-screenshots-artifact.ts
  tools/web-test-runner/visual-regression-plugin-config.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2861 build: parallelize visual regression test run
  .github/workflows/continuous-integration.yml
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2856 refactor: replace isolated `SbbSlotStateController` usage with decorator
  src/elements/button/common/button-common.ts
  src/elements/button/mini-button/mini-button.ts
  src/elements/checkbox/checkbox-group/checkbox-group.ts
  src/elements/checkbox/checkbox-panel/checkbox-panel.ts
  src/elements/checkbox/checkbox/checkbox.ts
  src/elements/core/decorators.ts
  src/elements/core/decorators/host-attributes.ts
  src/elements/core/decorators/slot-state.ts
  src/elements/file-selector/file-selector.ts
  src/elements/form-field/form-field/form-field.ts
  src/elements/link-list/link-list.ts
  src/elements/link/common/link-common.ts
  src/elements/navigation/navigation-list/navigation-list.ts
  src/elements/navigation/navigation-section/navigation-section.ts
  src/elements/notification/notification.ts
  src/elements/option/option/option.ts
  src/elements/radio-button/radio-button-group/radio-button-group.ts
  src/elements/radio-button/radio-button-panel/radio-button-panel.ts
  src/elements/radio-button/radio-button/radio-button.ts
  src/elements/selection-expansion-panel/selection-expansion-panel.ts
  src/elements/skiplink-list/skiplink-list.ts
  src/elements/status/status.ts
  src/elements/tabs/tab-label/tab-label.ts
  src/elements/tag/tag/tag.ts
  src/elements/teaser/teaser.ts
  src/elements/toast/toast.ts
  src/elements/toggle-check/toggle-check.ts
  src/elements/toggle/toggle-option/toggle-option.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2866 test(visual-regression): implement post-setup action
  src/elements/container/sticky-bar/sticky-bar.visual.spec.ts
  src/elements/core/testing/private/visual-regression-snapshot.ts
  src/elements/dialog/dialog/dialog.visual.spec.ts
  src/elements/header/header/header.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2868 test(sbb-screen-reader-only): add visual tests
  src/elements/screen-reader-only/__snapshots__/screen-reader-only.snapshot.spec.snap.js
  src/elements/screen-reader-only/screen-reader-only.snapshot.spec.ts
  src/elements/screen-reader-only/screen-reader-only.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2870 test(sbb-signet): migrate visual regression tests
  src/elements/core/testing/private/fixture.ts
  src/elements/signet/signet.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2872 test: stabilize dialog and popover tests
  src/elements/dialog/dialog/dialog.scss
  src/elements/popover/popover/popover.scss
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2873 build: pick correct git sha for visual regression app
  .github/workflows/continuous-integration.yml
  src/visual-regression-app/vite.config.ts
  tools/web-test-runner/visual-regression-plugin-config.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2871 test(sbb-logo): fix visual-spec
  src/elements/logo/logo.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2863 test(sbb-navigation): add visual spec
  src/elements/datepicker/datepicker-toggle/datepicker-toggle.visual.spec.ts
  src/elements/navigation/navigation-button/navigation-button.visual.spec.ts
  src/elements/navigation/navigation-link/navigation-link.visual.spec.ts
  src/elements/navigation/navigation-section/navigation-section.visual.spec.ts
  src/elements/navigation/navigation/navigation.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2852 test(sbb-menu): add visual tests
  src/elements/core/testing/private/fixture.ts
  src/elements/menu/menu-button/__snapshots__/menu-button.snapshot.spec.snap.js
  src/elements/menu/menu-button/menu-button.snapshot.spec.ts
  src/elements/menu/menu-button/menu-button.stories.ts
  src/elements/menu/menu-button/menu-button.visual.spec.ts
  src/elements/menu/menu-link/__snapshots__/menu-link.snapshot.spec.snap.js
  src/elements/menu/menu-link/menu-link.snapshot.spec.ts
  src/elements/menu/menu-link/menu-link.stories.ts
  src/elements/menu/menu-link/menu-link.visual.spec.ts
  src/elements/menu/menu/__snapshots__/menu.snapshot.spec.snap.js
  src/elements/menu/menu/menu.snapshot.spec.ts
  src/elements/menu/menu/menu.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2869 test(sbb-title): implement visual regression tests
  src/elements/title/__snapshots__/title.snapshot.spec.snap.js
  src/elements/title/title.snapshot.spec.ts
  src/elements/title/title.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2879 fix(sbb-map-container): respect disabled global animation
  src/elements/map-container/map-container.scss
Labels: preview-available, pr: peer review required, pr: visual review required, visual-regression-diff-available

#2864 test(sbb-overlay): add visual tests
  src/elements/core/testing/private/visual-regression-snapshot.ts
  src/elements/overlay/__snapshots__/overlay.snapshot.spec.snap.js
  src/elements/overlay/overlay.snapshot.spec.ts
  src/elements/overlay/overlay.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2884 build: add global diff switch for visual regression app
  src/visual-regression-app/src/components/test-case/image-diff/image-diff.ts
  src/visual-regression-app/src/components/test-case/test-case.scss
  src/visual-regression-app/src/components/test-case/test-case.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2878 test(sbb-select): add visual tests
  src/elements/select/select.stories.ts
  src/elements/select/select.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2882 test(sbb-popover, sbb-popover-trigger): add visual spec
  src/elements/popover/popover-trigger/__snapshots__/popover-trigger.snapshot.spec.snap.js
  src/elements/popover/popover-trigger/popover-trigger.snapshot.spec.ts
  src/elements/popover/popover-trigger/popover-trigger.visual.spec.ts
  src/elements/popover/popover/__snapshots__/popover.snapshot.spec.snap.js
  src/elements/popover/popover/popover.snapshot.spec.ts
  src/elements/popover/popover/popover.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2883 test(sbb-toast): add visual spec
  src/elements/core/testing/private/visual-regression-snapshot.ts
  src/elements/toast/toast.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2885 test(sbb-popover): visual spec fix
  src/elements/popover/popover/popover.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2886 test(sbb-status): migrate visual tests
  src/elements/status/__snapshots__/status.snapshot.spec.snap.js
  src/elements/status/status.snapshot.spec.ts
  src/elements/status/status.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2867 test(sbb-tab-group, sbb-tab-label): implement visual regression tests
  src/elements/tabs/tab-group/tab-group.visual.spec.ts
  src/elements/tabs/tab-label/tab-label.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2892 build: remove .keep file
  .github/workflows/continuous-integration-secure.yml
  tools/visual-regression-testing/prepare-failed-screenshots-artifact.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2893 fix(sbb-popover): prevent matchMedia call before hydration
  src/elements/popover/popover/popover.ssr.spec.ts
  src/elements/popover/popover/popover.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2894 fix(sbb-form-field): ensure input element is detected during hydration
  src/elements/form-field/form-field-clear/form-field-clear.ts
  src/elements/form-field/form-field/form-field.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2889 feat(sbb-datepicker): add support for `DateAdapter`
  src/elements/calendar/calendar.ts
  src/elements/core/datetime/date-adapter.ts
  src/elements/core/datetime/native-date-adapter.ts
  src/elements/datepicker/common/datepicker-button.ts
  src/elements/datepicker/datepicker-next-day/datepicker-next-day.ts
  src/elements/datepicker/datepicker-next-day/readme.md
  src/elements/datepicker/datepicker-previous-day/datepicker-previous-day.ts
  src/elements/datepicker/datepicker-previous-day/readme.md
  src/elements/datepicker/datepicker-toggle/datepicker-toggle.ts
  src/elements/datepicker/datepicker/datepicker.spec.ts
  src/elements/datepicker/datepicker/datepicker.ssr.spec.ts
  src/elements/datepicker/datepicker/datepicker.stories.ts
  src/elements/datepicker/datepicker/datepicker.ts
  src/elements/datepicker/datepicker/readme.md
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2890 fix(sbb-button): fix high contrast styles
  src/elements/button/button-link/button-link.stories.ts
  src/elements/button/button-link/button-link.visual.spec.ts
  src/elements/button/button-static/__snapshots__/button-static.snapshot.spec.snap.js
  src/elements/button/button-static/button-static.snapshot.spec.ts
  src/elements/button/button-static/button-static.stories.ts
  src/elements/button/button-static/button-static.visual.spec.ts
  src/elements/button/button/button.stories.ts
  src/elements/button/button/button.visual.spec.ts
  src/elements/button/common/button-common.scss
  src/elements/button/mini-button/mini-button.visual.spec.ts
  src/elements/button/secondary-button-link/secondary-button-link.stories.ts
  src/elements/button/secondary-button-static/__snapshots__/secondary-button-static.snapshot.spec.snap.js
  src/elements/button/secondary-button-static/secondary-button-static.snapshot.spec.ts
  src/elements/button/secondary-button-static/secondary-button-static.stories.ts
  src/elements/button/secondary-button/secondary-button.stories.ts
  src/elements/button/secondary-button/secondary-button.visual.spec.ts
  src/elements/button/tertiary-button-link/tertiary-button-link.stories.ts
  src/elements/button/tertiary-button-static/__snapshots__/tertiary-button-static.snapshot.spec.snap.js
  src/elements/button/tertiary-button-static/tertiary-button-static.snapshot.spec.ts
  src/elements/button/tertiary-button-static/tertiary-button-static.stories.ts
  src/elements/button/tertiary-button/tertiary-button.stories.ts
  src/elements/button/tertiary-button/tertiary-button.visual.spec.ts
  src/elements/button/transparent-button-link/transparent-button-link.stories.ts
  src/elements/button/transparent-button-static/__snapshots__/transparent-button-static.snapshot.spec.snap.js
  src/elements/button/transparent-button-static/transparent-button-static.snapshot.spec.ts
  src/elements/button/transparent-button-static/transparent-button-static.stories.ts
  src/elements/button/transparent-button/transparent-button.stories.ts
  src/elements/button/transparent-button/transparent-button.visual.spec.ts
  src/elements/core/styles/mixins/buttons.scss
  src/elements/datepicker/datepicker-next-day/datepicker-next-day.scss
  src/elements/datepicker/datepicker-previous-day/datepicker-previous-day.scss
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2897 fix(various): ensure slotchange event is handled properly in hydration
  src/elements/stepper/stepper/stepper.ts
  src/elements/tabs/tab-group/tab-group.ts
  src/elements/toast/toast.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2888 test(skiplink-list): add visual spec
  src/elements/skiplink-list/readme.md
  src/elements/skiplink-list/skiplink-list.ts
  src/elements/skiplink-list/skiplink-list.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2895 test(sbb-selection-expansion-panel): add visual spec
  src/elements/selection-expansion-panel/selection-expansion-panel.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2896 test(sbb-slider): add visual tests
  src/elements/slider/__snapshots__/slider.snapshot.spec.snap.js
  src/elements/slider/slider.snapshot.spec.ts
  src/elements/slider/slider.stories.ts
  src/elements/slider/slider.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2902 test(sbb-timetable-occupancy-icon): migrate visual regression tests
  src/elements/status/status.visual.spec.ts
  src/elements/timetable-occupancy-icon/__snapshots__/timetable-occupancy-icon.snapshot.spec.snap.js
  src/elements/timetable-occupancy-icon/readme.md
  src/elements/timetable-occupancy-icon/timetable-occupancy-icon.snapshot.spec.ts
  src/elements/timetable-occupancy-icon/timetable-occupancy-icon.spec.ts
  src/elements/timetable-occupancy-icon/timetable-occupancy-icon.ts
  src/elements/timetable-occupancy-icon/timetable-occupancy-icon.visual.spec.ts
  tools/web-test-runner/preload-icons.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2903 test(sbb-time-input): add visual spec
  src/elements/time-input/__snapshots__/time-input.snapshot.spec.snap.js
  src/elements/time-input/time-input.snapshot.spec.ts
  src/elements/time-input/time-input.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2898 test(sbb-tag): add visual tests
  src/elements/tag/tag-group/tag-group.visual.spec.ts
  src/elements/tag/tag/tag.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2906 fix(sbb-checkbox, sbb-checkbox-panel): fix visual disabled state after prop change
  src/elements/checkbox/common/checkbox-common.spec.ts
  src/elements/core/mixins/form-associated-mixin.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2899 test(sbb-teaser): add visual tests
  src/elements/teaser/teaser.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2912 refactor(sbb-pearl-chain): remove obsolete status check
  src/elements-experimental/pearl-chain/pearl-chain.ts
Labels: preview-available, pr: peer review required, pr: visual review required, visual-regression-diff-available

#2901 test(sbb-stepper): add visual spec
  src/elements/stepper/step-label/step-label.visual.spec.ts
  src/elements/stepper/stepper/stepper.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2908 test(sbb-radio-button, sbb-radio-button-group, sbb-radio-button-panel): implement visual spec
  src/elements/radio-button/radio-button-group/radio-button-group.visual.spec.ts
  src/elements/radio-button/radio-button-panel/radio-button-panel.visual.spec.ts
  src/elements/radio-button/radio-button/radio-button.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2910 chore: add visual.spec.ts to boilerplate
  tools/generate-component/boilerplate/component.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2911 test(sbb-pearl-chain): add visual spec
  src/elements-experimental/pearl-chain/__snapshots__/pearl-chain.snapshot.spec.snap.js
  src/elements-experimental/pearl-chain/pearl-chain.snapshot.spec.ts
  src/elements-experimental/pearl-chain/pearl-chain.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2913 test(sbb-pearl-chain-time): add visual spec
  src/elements-experimental/pearl-chain-time/pearl-chain-time.snapshot.spec.ts
  src/elements-experimental/pearl-chain-time/pearl-chain-time.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2914 test(sbb-teaser-hero, sbb-teaser-paid): add visual spec
  src/elements-experimental/teaser-hero/__snapshots__/teaser-hero.snapshot.spec.snap.js
  src/elements-experimental/teaser-hero/teaser-hero.snapshot.spec.ts
  src/elements-experimental/teaser-hero/teaser-hero.visual.spec.ts
  src/elements-experimental/teaser-paid/__snapshots__/teaser-paid.snapshot.spec.snap.js
  src/elements-experimental/teaser-paid/teaser-paid.snapshot.spec.ts
  src/elements-experimental/teaser-paid/teaser-paid.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2900 fix(sbb-radio-button-panel): fix spacing between label and suffix
  src/elements/checkbox/checkbox-group/checkbox-group.visual.spec.ts
  src/elements/checkbox/checkbox-panel/checkbox-panel.stories.ts
  src/elements/checkbox/checkbox-panel/checkbox-panel.visual.spec.ts
  src/elements/checkbox/checkbox/checkbox.scss
  src/elements/checkbox/common/checkbox-common.scss
  src/elements/radio-button/radio-button-group/radio-button-group.stories.ts
  src/elements/radio-button/radio-button-panel/radio-button-panel.stories.ts
  src/elements/selection-expansion-panel/selection-expansion-panel.stories.ts
  src/elements/selection-expansion-panel/selection-expansion-panel.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2916 test(sbb-timetable-duration, sbb-timetable-row): add visual spec
  src/elements-experimental/timetable-duration/__snapshots__/timetable-duration.snapshot.spec.snap.js
  src/elements-experimental/timetable-duration/timetable-duration.snapshot.spec.ts
  src/elements-experimental/timetable-duration/timetable-duration.visual.spec.ts
  src/elements-experimental/timetable-row/__snapshots__/timetable-row.snapshot.spec.snap.js
  src/elements-experimental/timetable-row/timetable-row.sample-data.ts
  src/elements-experimental/timetable-row/timetable-row.snapshot.spec.ts
  src/elements-experimental/timetable-row/timetable-row.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2918 test(sbb-timetable-occupancy): add visual spec
  src/elements/timetable-occupancy/timetable-occupancy.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2919 test(sbb-alert-group): refactor snapshot tests
  src/elements/alert/alert-group/__snapshots__/alert-group.snapshot.spec.snap.js
  src/elements/alert/alert-group/alert-group.snapshot.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2917 feat(sbb-image): provide ability to crop image on host
  src/elements/image/image.scss
  src/elements/image/image.stories.ts
  src/elements/image/image.ts
  src/elements/image/image.visual.spec.ts
  src/elements/image/readme.md
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2915 test(sbb-pearl-chain-vertical): add visual tests
  src/elements-experimental/pearl-chain-vertical-item/__snapshots__/pearl-chain-vertical-item.snapshot.spec.snap.js
  src/elements-experimental/pearl-chain-vertical-item/pearl-chain-vertical-item.snapshot.spec.ts
  src/elements-experimental/pearl-chain-vertical-item/pearl-chain-vertical-item.spec.ts
  src/elements-experimental/pearl-chain-vertical-item/pearl-chain-vertical-item.visual.spec.ts
  src/elements-experimental/pearl-chain-vertical/__snapshots__/pearl-chain-vertical.snapshot.spec.snap.js
  src/elements-experimental/pearl-chain-vertical/pearl-chain-vertical.snapshot.spec.ts
  src/elements-experimental/pearl-chain-vertical/pearl-chain-vertical.stories.ts
  src/elements-experimental/pearl-chain-vertical/pearl-chain-vertical.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2925 test(sbb-calendar): add missing dynamic width test
  src/elements/calendar/calendar.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: visual review required, visual-regression-diff-available

#2920 test(sbb-journey-summary): add visual tests
  src/elements-experimental/journey-summary/__snapshots__/journey-summary.snapshot.spec.snap.js
  src/elements-experimental/journey-summary/journey-summary.snapshot.spec.ts
  src/elements-experimental/journey-summary/journey-summary.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2927 test: stabilize teaser tests
  src/elements-experimental/teaser-hero/teaser-hero.visual.spec.ts
  src/elements-experimental/teaser-paid/teaser-paid.visual.spec.ts
  src/elements/teaser/teaser.visual.spec.ts
Labels: preview-available, pr: peer review approved

#2928 test: re-create snapshot files
  src/elements-experimental/pearl-chain-time/__snapshots__/pearl-chain-time.snapshot.spec.snap.js
  src/elements-experimental/teaser-hero/__snapshots__/teaser-hero.snapshot.spec.snap.js
  src/elements-experimental/teaser-paid/__snapshots__/teaser-paid.snapshot.spec.snap.js
  src/elements/accordion/__snapshots__/accordion.snapshot.spec.snap.js
  src/elements/accordion/accordion.snapshot.spec.ts
  src/elements/action-group/__snapshots__/action-group.snapshot.spec.snap.js
  src/elements/action-group/action-group.snapshot.spec.ts
  src/elements/autocomplete-grid/autocomplete-grid-option/__snapshots__/autocomplete-grid-option.snapshot.spec.snap.js
  src/elements/autocomplete-grid/autocomplete-grid/__snapshots__/autocomplete-grid.snapshot.spec.snap.js
  src/elements/autocomplete/__snapshots__/autocomplete.snapshot.spec.snap.js
  src/elements/breadcrumb/breadcrumb-group/__snapshots__/breadcrumb-group.snapshot.spec.snap.js
  src/elements/breadcrumb/breadcrumb-group/breadcrumb-group.snapshot.spec.ts
  src/elements/breadcrumb/breadcrumb/__snapshots__/breadcrumb.snapshot.spec.snap.js
  src/elements/breadcrumb/breadcrumb/breadcrumb.snapshot.spec.ts
  src/elements/button/button-link/__snapshots__/button-link.snapshot.spec.snap.js
  src/elements/button/secondary-button-link/__snapshots__/secondary-button-link.snapshot.spec.snap.js
  src/elements/button/tertiary-button-link/__snapshots__/tertiary-button-link.snapshot.spec.snap.js
  src/elements/button/transparent-button-link/__snapshots__/transparent-button-link.snapshot.spec.snap.js
  src/elements/calendar/__snapshots__/calendar.snapshot.spec.snap.js
  src/elements/calendar/calendar.snapshot.spec.ts
  src/elements/card/card-badge/__snapshots__/card-badge.snapshot.spec.snap.js
  src/elements/card/card-badge/card-badge.snapshot.spec.ts
  src/elements/card/card-button/__snapshots__/card-button.snapshot.spec.snap.js
  src/elements/checkbox/checkbox-group/__snapshots__/checkbox-group.snapshot.spec.snap.js
  src/elements/checkbox/checkbox-group/checkbox-group.snapshot.spec.ts
  src/elements/checkbox/checkbox/__snapshots__/checkbox.snapshot.spec.snap.js
  src/elements/chip/__snapshots__/chip.snapshot.spec.snap.js
  src/elements/chip/chip.snapshot.spec.ts
  src/elements/clock/__snapshots__/clock.snapshot.spec.snap.js
  src/elements/container/container/__snapshots__/container.snapshot.spec.snap.js
  src/elements/container/sticky-bar/__snapshots__/sticky-bar.snapshot.spec.snap.js
  src/elements/datepicker/datepicker-next-day/__snapshots__/datepicker-next-day.snapshot.spec.snap.js
  src/elements/datepicker/datepicker-previous-day/__snapshots__/datepicker-previous-day.snapshot.spec.snap.js
  src/elements/datepicker/datepicker/__snapshots__/datepicker.snapshot.spec.snap.js
  src/elements/dialog/dialog-actions/__snapshots__/dialog-actions.snapshot.spec.snap.js
  src/elements/divider/__snapshots__/divider.snapshot.spec.snap.js
  src/elements/expansion-panel/expansion-panel-header/__snapshots__/expansion-panel-header.snapshot.spec.snap.js
  src/elements/footer/__snapshots__/footer.snapshot.spec.snap.js
  src/elements/icon/__snapshots__/icon.snapshot.spec.snap.js
  src/elements/link-list/__snapshots__/link-list.snapshot.spec.snap.js
  src/elements/message/__snapshots__/message.snapshot.spec.snap.js
  src/elements/navigation/navigation-list/__snapshots__/navigation-list.snapshot.spec.snap.js
  src/elements/option/optgroup/__snapshots__/optgroup.snapshot.spec.snap.js
  src/elements/radio-button/radio-button-panel/__snapshots__/radio-button-panel.snapshot.spec.snap.js
  src/elements/radio-button/radio-button/__snapshots__/radio-button.snapshot.spec.snap.js
  src/elements/radio-button/radio-button/radio-button.snapshot.spec.ts
  src/elements/select/__snapshots__/select.snapshot.spec.snap.js
  src/elements/status/__snapshots__/status.snapshot.spec.snap.js
  src/elements/tag/tag-group/__snapshots__/tag-group.snapshot.spec.snap.js
  src/elements/tag/tag-group/tag-group.snapshot.spec.ts
  src/elements/teaser/__snapshots__/teaser.snapshot.spec.snap.js
  src/elements/time-input/__snapshots__/time-input.snapshot.spec.snap.js
  src/elements/timetable-occupancy/__snapshots__/timetable-occupancy.snapshot.spec.snap.js
  src/elements/toggle/toggle-option/__snapshots__/toggle-option.snapshot.spec.snap.js
  src/elements/toggle/toggle/__snapshots__/toggle.snapshot.spec.snap.js
  src/elements/train/train-formation/__snapshots__/train-formation.snapshot.spec.snap.js
  src/elements/train/train-wagon/__snapshots__/train-wagon.snapshot.spec.snap.js
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2929 test(visual-regression-app): improve support for mobile devices
  src/visual-regression-app/index.html
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2924 fix(sbb-map-container): remove z-index to avoid stacking problems
  src/elements/map-container/__snapshots__/map-container.snapshot.spec.snap.js
  src/elements/map-container/map-container.scss
  src/elements/map-container/map-container.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, visual-regression-diff-available

#2931 chore: add icons used in visual tests
  tools/web-test-runner/preload-icons.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, visual-regression-diff-available

#2922 build: create deployment for visual diff
  .github/workflows/continuous-integration-requested.yml
  .github/workflows/continuous-integration-secure.yml
Labels: pr: peer review required

#2937 style: apply scss extension rule
  .stylelintrc.json
  src/elements/core/styles/mixins/buttons.scss
  src/elements/core/styles/mixins/pearl-chain-bullet.scss
  yarn.lock
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#2936 feat(sbb-radio-button, sbb-radio-button-group): add size xs
  src/elements/radio-button/common/radio-button-common.scss
  src/elements/radio-button/common/radio-button-common.ts
  src/elements/radio-button/radio-button-group/radio-button-group.stories.ts
  src/elements/radio-button/radio-button-group/radio-button-group.ts
  src/elements/radio-button/radio-button-group/radio-button-group.visual.spec.ts
  src/elements/radio-button/radio-button-group/readme.md
  src/elements/radio-button/radio-button-panel/radio-button-panel.ts
  src/elements/radio-button/radio-button-panel/readme.md
  src/elements/radio-button/radio-button/radio-button.stories.ts
  src/elements/radio-button/radio-button/radio-button.ts
  src/elements/radio-button/radio-button/radio-button.visual.spec.ts
  src/elements/radio-button/radio-button/readme.md
Labels: preview-available, pr: peer review approved, pr: ux review required, pr: visual review required, diff-available

#2933 feat(sbb-checkbox): add size xs
  src/elements/checkbox/checkbox-group/checkbox-group.stories.ts
  src/elements/checkbox/checkbox-group/checkbox-group.visual.spec.ts
  src/elements/checkbox/checkbox-panel/__snapshots__/checkbox-panel.snapshot.spec.snap.js
  src/elements/checkbox/checkbox-panel/checkbox-panel.ts
  src/elements/checkbox/checkbox-panel/readme.md
  src/elements/checkbox/checkbox/__snapshots__/checkbox.snapshot.spec.snap.js
  src/elements/checkbox/checkbox/checkbox.stories.ts
  src/elements/checkbox/checkbox/checkbox.ts
  src/elements/checkbox/checkbox/checkbox.visual.spec.ts
  src/elements/checkbox/checkbox/readme.md
  src/elements/checkbox/common/checkbox-common.scss
  src/elements/checkbox/common/checkbox-common.ts
  src/elements/core/mixins/panel-mixin.ts
  src/elements/radio-button/radio-button-panel/radio-button-panel.ts
  src/elements/radio-button/radio-button-panel/readme.md
  src/elements/visual-checkbox/readme.md
  src/elements/visual-checkbox/visual-checkbox.scss
  src/elements/visual-checkbox/visual-checkbox.stories.ts
  src/elements/visual-checkbox/visual-checkbox.ts
  src/elements/visual-checkbox/visual-checkbox.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#2946 feat(sbb-flip-card): first implementation
  src/elements/core/i18n/i18n.ts
  src/elements/flip-card.ts
  src/elements/flip-card/flip-card-details.ts
  src/elements/flip-card/flip-card-details/__snapshots__/flip-card-details.snapshot.spec.snap.js
  src/elements/flip-card/flip-card-details/flip-card-details.scss
  src/elements/flip-card/flip-card-details/flip-card-details.snapshot.spec.ts
  src/elements/flip-card/flip-card-details/flip-card-details.spec.ts
  src/elements/flip-card/flip-card-details/flip-card-details.ssr.spec.ts
  src/elements/flip-card/flip-card-details/flip-card-details.stories.ts
  src/elements/flip-card/flip-card-details/flip-card-details.ts
  src/elements/flip-card/flip-card-details/flip-card-details.visual.spec.ts
  src/elements/flip-card/flip-card-details/index.ts
  src/elements/flip-card/flip-card-details/readme.md
  src/elements/flip-card/flip-card-summary.ts
  src/elements/flip-card/flip-card-summary/__snapshots__/flip-card-summary.snapshot.spec.snap.js
  src/elements/flip-card/flip-card-summary/flip-card-summary.scss
  src/elements/flip-card/flip-card-summary/flip-card-summary.snapshot.spec.ts
  src/elements/flip-card/flip-card-summary/flip-card-summary.spec.ts
  src/elements/flip-card/flip-card-summary/flip-card-summary.ssr.spec.ts
  src/elements/flip-card/flip-card-summary/flip-card-summary.stories.ts
  src/elements/flip-card/flip-card-summary/flip-card-summary.ts
  src/elements/flip-card/flip-card-summary/flip-card-summary.visual.spec.ts
  src/elements/flip-card/flip-card-summary/index.ts
  src/elements/flip-card/flip-card-summary/readme.md
  src/elements/flip-card/flip-card.ts
  src/elements/flip-card/flip-card/__snapshots__/flip-card.snapshot.spec.snap.js
  src/elements/flip-card/flip-card/flip-card.scss
  src/elements/flip-card/flip-card/flip-card.snapshot.spec.ts
  src/elements/flip-card/flip-card/flip-card.spec.ts
  src/elements/flip-card/flip-card/flip-card.ssr.spec.ts
  src/elements/flip-card/flip-card/flip-card.stories.ts
  src/elements/flip-card/flip-card/flip-card.ts
  src/elements/flip-card/flip-card/flip-card.visual.spec.ts
  src/elements/flip-card/flip-card/index.ts
  src/elements/flip-card/flip-card/readme.md
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, diff-available

#2943 feat(sbb-alert): add close fade-out animation
  src/elements/alert/alert-group/__snapshots__/alert-group.snapshot.spec.snap.js
  src/elements/alert/alert-group/alert-group.spec.ts
  src/elements/alert/alert-group/alert-group.ts
  src/elements/alert/alert/__snapshots__/alert.snapshot.spec.snap.js
  src/elements/alert/alert/alert.scss
  src/elements/alert/alert/alert.spec.ts
  src/elements/alert/alert/alert.stories.ts
  src/elements/alert/alert/alert.ts
  src/elements/alert/alert/readme.md
  src/elements/notification/notification.ts
  src/elements/notification/readme.md
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, diff-available

#2945 fix(sbb-overlay): add background animation
  src/elements/overlay/overlay.scss
  src/elements/overlay/overlay.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#2948 build(diff-app): add 'describeEach' chips
  src/visual-regression-app/src/components/test-case/test-case.ts
  src/visual-regression-app/src/components/test-case/test-title-chip-list/test-title-chip-list.scss
  src/visual-regression-app/src/components/test-case/test-title-chip-list/test-title-chip-list.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required

#2965 build: fix test rerun on file change
  tools/web-test-runner/vite-plugin.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#2966 fix(sbb-clock): fix internal await to actually finish
  src/elements/clock/clock.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#2970 fix(various): re-enable scrolling when disconnecting the component before animationend
  src/elements/core/testing.ts
  src/elements/core/testing/wait-for-event.ts
  src/elements/menu/menu/menu.ts
  src/elements/navigation/navigation/navigation.spec.ts
  src/elements/navigation/navigation/navigation.ts
  src/elements/overlay/overlay-base-element.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#2971 feat(sbb-icon): provide compatibility with sbb-angular
  src/elements/icon/icon.ts
Labels: preview-available, pr: peer review required, pr: visual review required, diff-available

#2977 build(boilerplate): fix ssr and snapshot spec
  tools/generate-component/boilerplate/component.snapshot.spec.ts
  tools/generate-component/boilerplate/component.ssr.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#2978 test(alert-group): fix flickey test
  src/elements/alert/alert-group/alert-group.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available
