Repository sbb-design-systems/lyne-components, pull requests merged in 2024-08, with the labels that each got.

#2979 docs(sbb-autocomplete-grid): fix urls in readme.md
  src/elements/autocomplete-grid/autocomplete-grid/readme.md
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#2947 refactor: scss mixed declarations
  .stylelintrc.json
  package.json
  renovate.json
  src/elements-experimental/pearl-chain-time/pearl-chain-time.scss
  src/elements-experimental/pearl-chain-vertical-item/pearl-chain-vertical-item.scss
  src/elements-experimental/pearl-chain/pearl-chain.scss
  src/elements-experimental/teaser-hero/teaser-hero.scss
  src/elements/alert/alert/alert.scss
  src/elements/autocomplete/autocomplete-base-element.scss
  src/elements/breadcrumb/breadcrumb/breadcrumb.scss
  src/elements/calendar/calendar.scss
  src/elements/card/card/card.scss
  src/elements/chip/chip.scss
  src/elements/clock/clock.scss
  src/elements/container/container/container.scss
  src/elements/container/sticky-bar/sticky-bar.scss
  src/elements/core/styles/core.scss
  src/elements/core/styles/mixins/link.scss
  src/elements/core/styles/mixins/lists.scss
  src/elements/core/styles/mixins/pearl-chain-bullet.scss
  src/elements/core/styles/mixins/table.scss
  src/elements/dialog/dialog-content/dialog-content.scss
  src/elements/expansion-panel/expansion-panel-header/expansion-panel-header.scss
  src/elements/footer/footer.scss
  src/elements/form-error/form-error.scss
  src/elements/form-field/form-field/form-field.scss
  src/elements/header/common/header-action.scss
  src/elements/header/header/header.scss
  src/elements/lead-container/lead-container.scss
  src/elements/link/common/link.scss
  src/elements/logo/logo.scss
  src/elements/map-container/map-container.scss
  src/elements/menu/menu/menu.scss
  src/elements/navigation/navigation-section/navigation-section.scss
  src/elements/navigation/navigation/navigation.scss
  src/elements/overlay/overlay.scss
  src/elements/popover/popover-trigger/popover-trigger.scss
  src/elements/popover/popover/popover.scss
  src/elements/radio-button/common/radio-button-common.scss
  src/elements/select/select.scss
  src/elements/signet/signet.scss
  src/elements/slider/slider.scss
  src/elements/tabs/tab-label/tab-label.scss
  src/elements/tag/tag/tag.scss
  src/elements/teaser/teaser.scss
  src/elements/timetable-occupancy/timetable-occupancy.scss
  src/elements/toggle-check/toggle-check.scss
  src/elements/toggle/toggle/toggle.scss
  src/elements/train/train-blocked-passage/train-blocked-passage.scss
  src/elements/train/train-formation/train-formation.scss
  src/elements/train/train-wagon/train-wagon.scss
  src/elements/train/train/train.scss
  src/elements/visual-checkbox/visual-checkbox.scss
  yarn.lock
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, diff-available

#2988 feat(sbb-flip-card): add flip event and isFlipped getter
  src/elements/flip-card/flip-card/flip-card.spec.ts
  src/elements/flip-card/flip-card/flip-card.stories.ts
  src/elements/flip-card/flip-card/flip-card.ts
  src/elements/flip-card/flip-card/readme.md
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, diff-available

#2993 test(sbb-form-field): add forced colors tests
  src/elements/form-field/form-field/form-field.stories.ts
  src/elements/form-field/form-field/form-field.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: visual review required, diff-available

#2994 fix(sbb-form-field): fix disabled state for borderless variant
  src/elements/form-field/form-field/form-field.scss
  src/elements/form-field/form-field/form-field.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: ux review required, pr: visual review required, diff-available

#2984 feat(sbb-teaser-hero, sbb-teaser-paid): merge components and move into elements package
  src/elements-experimental/teaser-hero/readme.md
  src/elements-experimental/teaser-hero/teaser-hero.spec.ts
  src/elements-experimental/teaser-paid.ts
  src/elements-experimental/teaser-paid/__snapshots__/teaser-paid.snapshot.spec.snap.js
  src/elements-experimental/teaser-paid/readme.md
  src/elements-experimental/teaser-paid/teaser-paid.scss
  src/elements-experimental/teaser-paid/teaser-paid.snapshot.spec.ts
  src/elements-experimental/teaser-paid/teaser-paid.spec.ts
  src/elements-experimental/teaser-paid/teaser-paid.ssr.spec.ts
  src/elements-experimental/teaser-paid/teaser-paid.stories.ts
  src/elements-experimental/teaser-paid/teaser-paid.ts
  src/elements-experimental/teaser-paid/teaser-paid.visual.spec.ts
  src/elements/teaser-hero.ts
  src/elements/teaser-hero/__snapshots__/teaser-hero.snapshot.spec.snap.js
  src/elements/teaser-hero/readme.md
  src/elements/teaser-hero/teaser-hero.scss
  src/elements/teaser-hero/teaser-hero.snapshot.spec.ts
  src/elements/teaser-hero/teaser-hero.spec.ts
  src/elements/teaser-hero/teaser-hero.ssr.spec.ts
  src/elements/teaser-hero/teaser-hero.stories.ts
  src/elements/teaser-hero/teaser-hero.ts
  src/elements/teaser-hero/teaser-hero.visual.spec.ts
  src/storybook/pages/home/home.common.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: ux review approved, pr: visual review required, diff-available

#2997 fix(sbb-form-field): fix textarea bottom padding
  src/elements/form-field/form-field/form-field.scss
Labels: preview-available, pr: peer review required, pr: visual review required, diff-available

#2998 fix(sbb-flip-card): support disabled animation
  src/elements/flip-card/flip-card-summary/flip-card-summary.visual.spec.ts
  src/elements/flip-card/flip-card/flip-card.scss
  src/elements/flip-card/flip-card/flip-card.visual.spec.ts
  src/elements/teaser-hero/teaser-hero.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#2995 feat(sbb-form-field): introduce size s
  src/elements/form-field/form-field/form-field.scss
  src/elements/form-field/form-field/form-field.stories.ts
  src/elements/form-field/form-field/form-field.ts
  src/elements/form-field/form-field/form-field.visual.spec.ts
  src/elements/form-field/form-field/readme.md
Labels: preview-available, pr: peer review approved, pr: ux review approved, pr: visual review required, diff-available

#2999 feat(sbb-container): support for background image
  src/elements/container/container/__snapshots__/container.snapshot.spec.snap.js
  src/elements/container/container/container.scss
  src/elements/container/container/container.snapshot.spec.ts
  src/elements/container/container/container.stories.ts
  src/elements/container/container/container.ts
  src/elements/container/container/container.visual.spec.ts
  src/elements/container/container/readme.md
  src/elements/core/images.ts
  src/elements/overlay/__snapshots__/overlay.snapshot.spec.snap.js
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: ux review required, pr: visual review required, diff-available

#3000 fix(sbb-flip-card): fix accessibility issues
  src/elements/core/i18n/i18n.ts
  src/elements/flip-card/flip-card-summary/__snapshots__/flip-card-summary.snapshot.spec.snap.js
  src/elements/flip-card/flip-card-summary/flip-card-summary.scss
  src/elements/flip-card/flip-card-summary/flip-card-summary.snapshot.spec.ts
  src/elements/flip-card/flip-card-summary/flip-card-summary.stories.ts
  src/elements/flip-card/flip-card-summary/flip-card-summary.visual.spec.ts
  src/elements/flip-card/flip-card-summary/readme.md
  src/elements/flip-card/flip-card/__snapshots__/flip-card.snapshot.spec.snap.js
  src/elements/flip-card/flip-card/flip-card.scss
  src/elements/flip-card/flip-card/flip-card.snapshot.spec.ts
  src/elements/flip-card/flip-card/flip-card.spec.ts
  src/elements/flip-card/flip-card/flip-card.ssr.spec.ts
  src/elements/flip-card/flip-card/flip-card.stories.ts
  src/elements/flip-card/flip-card/flip-card.ts
  src/elements/flip-card/flip-card/flip-card.visual.spec.ts
  src/elements/flip-card/flip-card/readme.md
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#3002 fix(sbb-flip-card): use type button to avoid accidental form submission
  src/elements/flip-card/flip-card/__snapshots__/flip-card.snapshot.spec.snap.js
  src/elements/flip-card/flip-card/flip-card.ts
Labels: preview-available, pr: peer review required, pr: visual review required, diff-available

#2976 feat(sbb-teaser-product): initial implementation
  src/elements/teaser-product.ts
  src/elements/teaser-product/common.ts
  src/elements/teaser-product/common/teaser-product-common.scss
  src/elements/teaser-product/common/teaser-product-common.ts
  src/elements/teaser-product/teaser-product-static.ts
  src/elements/teaser-product/teaser-product-static/__snapshots__/teaser-product-static.snapshot.spec.snap.js
  src/elements/teaser-product/teaser-product-static/readme.md
  src/elements/teaser-product/teaser-product-static/teaser-product-static.snapshot.spec.ts
  src/elements/teaser-product/teaser-product-static/teaser-product-static.spec.ts
  src/elements/teaser-product/teaser-product-static/teaser-product-static.ssr.spec.ts
  src/elements/teaser-product/teaser-product-static/teaser-product-static.stories.ts
  src/elements/teaser-product/teaser-product-static/teaser-product-static.ts
  src/elements/teaser-product/teaser-product-static/teaser-product-static.visual.spec.ts
  src/elements/teaser-product/teaser-product.ts
  src/elements/teaser-product/teaser-product/__snapshots__/teaser-product.snapshot.spec.snap.js
  src/elements/teaser-product/teaser-product/readme.md
  src/elements/teaser-product/teaser-product/teaser-product.scss
  src/elements/teaser-product/teaser-product/teaser-product.snapshot.spec.ts
  src/elements/teaser-product/teaser-product/teaser-product.spec.ts
  src/elements/teaser-product/teaser-product/teaser-product.ssr.spec.ts
  src/elements/teaser-product/teaser-product/teaser-product.stories.ts
  src/elements/teaser-product/teaser-product/teaser-product.ts
  src/elements/teaser-product/teaser-product/teaser-product.visual.spec.ts
  src/elements/teaser/readme.md
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: ux review required, pr: visual review required, diff-available

#3006 feat(datepicker): add size s
  src/elements/datepicker/datepicker/datepicker.stories.ts
  src/elements/datepicker/datepicker/datepicker.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: ux review approved, pr: visual review required, diff-available

#2990 feat(sbb-calendar, sbb-datepicker-toggle): allow choosing initial calendar view
  src/elements/calendar/calendar.scss
  src/elements/calendar/calendar.snapshot.spec.ts
  src/elements/calendar/calendar.spec.ts
  src/elements/calendar/calendar.stories.ts
  src/elements/calendar/calendar.ts
  src/elements/calendar/readme.md
  src/elements/datepicker/datepicker-toggle/datepicker-toggle.spec.ts
  src/elements/datepicker/datepicker-toggle/datepicker-toggle.stories.ts
  src/elements/datepicker/datepicker-toggle/datepicker-toggle.ts
  src/elements/datepicker/datepicker-toggle/readme.md
Labels: preview-available, pr: peer review approved, pr: visual review required, diff-available

#2986 fix: fix inert mechanism for overlays
  src/elements/alert/alert/readme.md
  src/elements/autocomplete-grid/autocomplete-grid/readme.md
  src/elements/autocomplete/readme.md
  src/elements/core/base-elements/open-close-base-element.ts
  src/elements/core/controllers.ts
  src/elements/core/controllers/__snapshots__/inert-controller.spec.snap.js
  src/elements/core/controllers/inert-controller.spec.ts
  src/elements/core/controllers/inert-controller.ts
  src/elements/core/overlay/overlay.ts
  src/elements/dialog/dialog/dialog.ts
  src/elements/dialog/dialog/readme.md
  src/elements/menu/menu/menu.ts
  src/elements/menu/menu/readme.md
  src/elements/navigation/navigation/navigation.ts
  src/elements/navigation/navigation/readme.md
  src/elements/overlay/overlay-base-element.ts
  src/elements/overlay/overlay.ts
  src/elements/overlay/readme.md
  src/elements/popover/popover/readme.md
  src/elements/select/readme.md
  src/elements/toast/readme.md
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, diff-available

#3011 feat(sbb-select): introduce size s
  src/elements/form-field/form-field/form-field.scss
  src/elements/select/readme.md
  src/elements/select/select.stories.ts
  src/elements/select/select.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: ux review approved, pr: visual review required, diff-available

#3001 fix(sbb-flip-card): fix background and height transitions
  src/elements/flip-card/flip-card-details/__snapshots__/flip-card-details.snapshot.spec.snap.js
  src/elements/flip-card/flip-card-details/flip-card-details.scss
  src/elements/flip-card/flip-card-details/flip-card-details.ts
  src/elements/flip-card/flip-card-summary/flip-card-summary.scss
  src/elements/flip-card/flip-card/__snapshots__/flip-card.snapshot.spec.snap.js
  src/elements/flip-card/flip-card/flip-card.scss
  src/elements/flip-card/flip-card/flip-card.ts
  src/elements/flip-card/flip-card/flip-card.visual.spec.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: ux review approved, pr: visual review required, diff-available

#3019 feat(sbb-lead-container): add spacing class support for notification
  src/elements/lead-container/lead-container.scss
  src/elements/lead-container/lead-container.stories.ts
  src/elements/lead-container/lead-container.visual.spec.ts
  src/elements/lead-container/readme.md
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, diff-available

#3024 fix(sbb-container): remove relative positioning for non-image case
  src/elements/container/container/container.scss
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, diff-available

#3029 docs(teaser-product): fixed broken link in documentation
  src/elements/teaser-product/teaser-product/readme.md
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, diff-available

#3027 fix(sbb-select): fix display value in SSR context
  src/elements/select/select.ssr.spec.ts
  src/elements/select/select.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, diff-available

#3028 fix(sbb-overlay): fix padding block
  src/elements/overlay/overlay.scss
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, diff-available

#3034 fix(sbb-toggle): avoid console error on checked option click
  src/elements/toggle/toggle-option/__snapshots__/toggle-option.snapshot.spec.snap.js
  src/elements/toggle/toggle-option/toggle-option.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, diff-available

#3032 fix(sbb-datepicker-toggle): fix datepicker toggle empty state synchronization
  src/elements/datepicker/datepicker-toggle/datepicker-toggle.spec.ts
  src/elements/datepicker/datepicker-toggle/datepicker-toggle.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: visual review required, diff-available

#3020 feat(sbb-autocomplete): introduce size s
  src/elements/autocomplete-grid/autocomplete-grid/autocomplete-grid.stories.ts
  src/elements/autocomplete-grid/autocomplete-grid/autocomplete-grid.visual.spec.ts
  src/elements/autocomplete-grid/autocomplete-grid/readme.md
  src/elements/autocomplete/autocomplete.stories.ts
  src/elements/autocomplete/autocomplete.visual.spec.ts
  src/elements/autocomplete/readme.md
  src/visual-regression-app/src/components/test-case/test-title-chip-list/test-title-chip-list.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: ux review approved, pr: visual review required, diff-available

#3023 build: stabilize image loading for visual regression tests
  src/elements/core/testing/wait-for-image-ready.ts
  src/elements/flip-card/flip-card-summary/flip-card-summary.visual.spec.ts
  src/elements/lead-container/lead-container.visual.spec.ts
  src/elements/teaser-product/teaser-product/teaser-product.visual.spec.ts
  tools/web-test-runner/container-playwright-browser-plugin.ts
Labels: preview-available, pr: peer review required, pr: lead review approved, pr: visual review required, diff-available

#3018 feat(sbb-time-input): add size 's'
  src/elements/core/styles/core.scss
  src/elements/time-input/readme.md
  src/elements/time-input/time-input.stories.ts
  src/elements/time-input/time-input.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: ux review approved, pr: visual review required, diff-available

#3026 feat(sbb-stepper): add size 's'
  src/elements/stepper/step-label/step-label.scss
  src/elements/stepper/stepper/__snapshots__/stepper.snapshot.spec.snap.js
  src/elements/stepper/stepper/readme.md
  src/elements/stepper/stepper/stepper.spec.ts
  src/elements/stepper/stepper/stepper.stories.ts
  src/elements/stepper/stepper/stepper.ts
  src/elements/stepper/stepper/stepper.visual.spec.ts
Labels: preview-available, pr: peer review approved, pr: lead review approved, pr: ux review approved, pr: visual review required, diff-available

#3036 fix(step-list): fix border radius of step list elements
  src/elements/clock/clock.scss
  src/elements/core/styles/mixins/lists.scss
  tools/web-test-runner/preload-icons.ts
  tools/web-test-runner/visual-regression-plugin-config.ts
Labels: preview-available, pr: peer review approved, pr: ux review approved, pr: visual review required, diff-available
